@model Cuentas.Ar.Entities.M_Home
@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card ">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">Resumen</h4>
                </div>
                <div class="card-body ">
                    <div class="row col-md-12">
                        <div class="col-md-3">
                            <label class="col-form-label">Usuario: Cristian Ilincyk</label>
                            <br />
                            <label class="col-form-label">Saldo Actual: $ 10.000</label>
                        </div>

                        <div class="col-md-3">
                            <label class="col-form-label">Cuenta: Premium</label>
                            <br />
                            <label class="col-form-label">Ingresos: $ 50.000</label>
                        </div>

                        <div class="col-md-3">
                            <label class="col-form-label">Estado: Muy Bueno</label>
                            <br />
                            <label class="col-form-label">Egresos: $ 40.000</label>
                        </div>
                        <div class="col-md-3">
                                <label class="col-md-6 col-form-label">Fecha Desde</label>
                                @Html.TextBoxFor(model => model.FechaDesde, new { @id = "fechaDesde", @class = "form-control datepicker col-md-6" })
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card ">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">Búsqueda</h4>
                </div>
                <div class="card-body ">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">Fecha Desde</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default bmd-form-group">
                                            @Html.TextBoxFor(model => model.FechaDesde, new { @id = "fechaDesde", @class = "form-control datepicker" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">Fecha Hasta</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default bmd-form-group">
                                            @Html.TextBoxFor(model => model.FechaHasta, new { @id = "fechaHasta", @class = "form-control datepicker" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="pull-center">
                        <button type="submit" class="btn btn-fill btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/moment.js"></script>
<script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<script>
    //$(".maskDate").inputmask("datetime", { inputFormat: 'dd/mm/yyyy', min: '01/01/1900', max: '31/12/2100', showMaskOnHover: false, showMaskOnFocus: false });
    $('.datepicker').datetimepicker({ format: 'DD/MM/YYYY', locale: 'es', useCurrent: true });
    $("#fechaDesde").blur();
    $("#fechaHasta").blur();
</script>
