@model Cuentas.Ar.Entities.M_Home
@{
    ViewBag.Title = "MisCuentas.com";
}

<div class="content">
    @Html.Partial("_FiltrosMisCuentas", Model.FiltroMisCuentas)
    @Html.Partial("_MisCuentas", Model.MisCuentas)
</div>