@{
    ViewBag.Title = "Listado de Categorías";
}

<link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Content/DataTables/datatables.min.js"></script>

<div class="content">
    @Html.Partial("_ListaCategoria")
</div>

<script>
    $(document).ready(function () {

    });
</script>