<footer>
    <div class="container">
        <div class="row left mgTop1">
           Ver que ponemos acá
        </div>
        <div class="row right">
            Agregar el logo acá
        </div>
    </div>
</footer>