@{
    var Controlador = ViewContext.RouteData.Values["controller"].ToString();
    var Accion = ViewContext.RouteData.Values["action"].ToString();
}
<div class="sidebar" data-color="purple" data-background-color="black" data-image="../../Content/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a class="simple-text logo-normal">
            MisCuentas.com
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            @Html.MenuActionLinkMenu("Mis Cuentas", "Index", "Home", "dashboard")

            <li class="nav-item ">
                <a class="nav-link" href="./user.html">
                    <i class="material-icons">person</i>
                    <p>Mis Datos</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./tables.html">
                    <i class="material-icons">content_paste</i>
                    <p>Mis Registros</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./typography.html">
                    <i class="material-icons">library_books</i>
                    <p>Mis Estadisticas</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons">settings</i>
                    <p>Configuración</p>
                </a>
            </li>

            @Html.MenuActionLinkMenu("Cerrar Sesión", "LogOff", "Cuenta", "power_settings_new")

            <li class="nav-item ">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons"></i>
                    <p></p>
                </a>
            </li>

            <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> 
        </ul>
    </div>
</div>