<!--Ventana General-->
<div id='ModalGeneral' class='modal fade in'>
    <div class="modal-dialog" style="margin: 25px auto;">
        <div class="modal-content">
            <div id='ModalGeneralBody'></div>
        </div>
    </div>
</div>
<!--Ventana General-->
<!--Ventana General-->
<div id='ModalGeneralStatic' class='modal fade in' data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="margin: 25px auto;">
        <div class="modal-content">
            <div id='ModalGeneralStaticBody'></div>
        </div>
    </div>
</div>
<!--Ventana General-->
<!--Ventana General-->
<div id='ModalGeneralLg' class='modal fade in'>
    <div class="modal-dialog modal-lg" style="margin: 25px auto;">
        <div class="modal-content">
            <div id='ModalGeneralBodyLg'></div>
        </div>
    </div>
</div>
<!--Ventana General-->
<!--Ventana SubGeneral-->
<div id='ModalSubGeneral' class='modal fade in'>
    <div class="modal-dialog" style="margin: 85px auto;">
        <div class="modal-content">
            <div id='ModalSubGeneralBody'></div>
        </div>
    </div>
</div>
<!--Ventana SubGeneral-->
<!--Ventana Modal Error-->
<div id='ModalGeneralError' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content labelDetalle alert">
            <div class="modal-body alert alert-danger mgBottom0 negrita">
                <i class="fa  fa-exclamation-circle "></i>
                <span id="MensajeModalGeneralError"></span>
            </div>
        </div>
    </div>
</div>
<!--Ventana Modal Error-->