@model Cuentas.Ar.Entities.M_Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <!--===============================================================================================-->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login/css/main.css" rel="stylesheet" />
    <link href="~/Content/login/css/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body class="fondoLogin" style="background-image: url('../../Content/login/images/fondoLogin.jpg');">
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <!--LOGIN-->
                        <div class="form-box">
                            <div class="limiter">
                                <div class="container-login100">
                                    <div class="wrap-login100">
                                        <form class="login100-form validate-form">
                                            <span class="login100-form-title p-b-26">
                                                Welcome
                                            </span>
                                            <span class="login100-form-title p-b-30">
                                                <i class="zmdi zmdi-font"></i>
                                            </span>

                                            <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                                                <input class="input100" type="text" name="email">
                                                <span class="focus-input100" data-placeholder="Email"></span>
                                            </div>

                                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                                <span class="btn-show-pass">
                                                    <i class="zmdi zmdi-eye"></i>
                                                </span>
                                                <input class="input100" type="password" name="pass">
                                                <span class="focus-input100" data-placeholder="Password"></span>
                                            </div>

                                            <div class="container-login100-form-btn">
                                                <div class="wrap-login100-form-btn">
                                                    <div class="login100-form-bgbtn"></div>
                                                    <button class="login100-form-btn">
                                                        Login
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="text-center p-t-20">
                                                <span class="txt1">
                                                    Don’t have an account?
                                                </span>

                                                <a class="txt2" href="#">
                                                    Sign Up
                                                </a>
                                            </div>

                                            <div class="txt1 text-center p-t-5 p-b-20">
                                                <span>
                                                    Or Sign Up Using
                                                </span>
                                            </div>

                                            <div class="flex-c-m">
                                                <a href="#" class="login100-social-item bg1">
                                                    <i class="fa fa-facebook"></i>
                                                </a>

                                                <a href="#" class="login100-social-item bg2">
                                                    <i class="fa fa-twitter"></i>
                                                </a>

                                                <a href="#" class="login100-social-item bg3">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-1 middle-border"></div> <!--Traernos esta clase-->
                    <div class="col-sm-1"></div>

                    <div class="col-sm-5">
                        <!--REGISTRARSE-->
                        <div class="form-box">
                            <div class="limiter">
                                <div class="container-login100">
                                    <div class="wrap-login100">
                                        <form class="login100-form validate-form">
                                            <span class="login100-form-title p-b-26">
                                                Registrate
                                            </span>

                                            <div class="wrap-input100 validate-input" data-validate="Ingrese un nombre.">
                                                <input class="input100" type="text" name="nombre">
                                                <span class="focus-input100" data-placeholder="Nombre Completo"></span>
                                            </div>

                                            <div class="wrap-input100 validate-input" data-validate="Ingrese un correo electronico.">
                                                <input class="input100" type="text" name="email">
                                                <span class="focus-input100" data-placeholder="Email"></span>
                                            </div>

                                            <div class="wrap-input100 validate-input" data-validate="Ingrese una contraseña.">
                                                <span class="btn-show-pass">
                                                    <i class="zmdi zmdi-eye"></i>
                                                </span>
                                                <input class="input100" type="password" name="passCrete">
                                                <span class="focus-input100" data-placeholder="Contraseña"></span>
                                            </div>

                                            <div class="wrap-input100">
                                                <span class="input100Fecha">Fecha</span>
                                                <input class="input100" type="date" name="fecha">
                                            </div>

                                            <div class="container-login100-form-btn">
                                                <div class="wrap-login100-form-btn">
                                                    <div class="login100-form-bgbtn"></div>
                                                    <button class="login100-form-btn">
                                                        Crear
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer -->
    <!-- Javascript -->
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>
</body>
</html>