@model Cuentas.Ar.Entities.M_UsuarioLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-image: url('../../Content/login/images/fondoLogin.jpg');">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @Html.AntiForgeryToken()

                <div class="login100-form">
                    <span class="login100-form-title p-b-26">
                        Cuenta Creada
                    </span>
                    <span class="login100-form-title p-b-10">
                        <img src="../../Content/logo/misCuentas_blanco.png" style="max-width: 300px; max-height: 300px" />
                    </span>

                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading text-center">¡Felicitaciones!</h4>
                        <p><b>@Model.DatosBasicos.Nombre</b>, la cuenta ha sido creada satisfactoriamente.</p>
                    </div>
                </div>
                <div class="text-center p-t-5">
                    <span class="txt1">
                        Volver al <a href="@Url.Action("Login", "Cuenta")" class="txt2">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>