@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-image: url('../../Content/login/images/fondoLogin.jpg');">
    <div class="limiter">
        <div class="container-login">
                <section class="pricing">
                    <div class="container">
                        <div class="row">
                            <!-- Free Tier -->
                            <div class="col-lg-4">
                                <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        @using (Html.BeginForm("AltaLoginTipoCuenta", "Usuario", new { idTipoCuenta = 1 }, FormMethod.Post, new { id = "loginForm", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                            <h6 class="card-price text-center">$0<span class="period">/mes</span></h6>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Un Mes Gratis</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Recordatorios</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Objetivos</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Reportes</li>
                                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Soporte Técnico</li>
                                            </ul>
                                            <div class="container-login100-form-btn">
                                                <div class="wrap-login100-form-btn">
                                                    <div class="login100-form-bgbtn"></div>
                                                    <button class="login100-form-btn">
                                                        Continuar
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Plus Tier -->
                            <div class="col-lg-4">
                                <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        @using (Html.BeginForm("AltaLoginTipoCuenta", "Usuario", new { idTipoCuenta = eTipoCuenta.Premium }, FormMethod.Post, new { id = "loginForm", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
                                            <h6 class="card-price text-center">$1<span class="period">/mes</span></h6>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Costo: USD 1 por Mes</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Recordatorios</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Objetivos</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Soporte Técnico</li>
                                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Módulo de Reportes</li>
                                            </ul>
                                            <div class="container-login100-form-btn">
                                                <div class="wrap-login100-form-btn">
                                                    <div class="login100-form-bgbtn"></div>
                                                    <button class="login100-form-btn">
                                                        Continuar
                                                    </button>
                                                </div>
                                            </div>
    }
                                    </div>
                                </div>
                            </div>

                            <!-- Pro Tier -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        @using (Html.BeginForm("AltaLoginTipoCuenta", "Usuario", new { idTipoCuenta = eTipoCuenta.Business }, FormMethod.Post, new { id = "loginForm", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <h5 class="card-title text-muted text-uppercase text-center">Business</h5>
                                            <h6 class="card-price text-center">$10<span class="period">/año</span></h6>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Costo: USD 10 por Año</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Recordatorios</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Objetivos</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Reportes</li>
                                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Soporte Técnico</li>
                                            </ul>
                                            <div class="container-login100-form-btn">
                                                <div class="wrap-login100-form-btn">
                                                    <div class="login100-form-bgbtn"></div>
                                                    <button class="login100-form-btn">
                                                        Continuar
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</body>
</html>