@model Cuentas.Ar.Entities.M_ListadoRegistro

@{
    ViewBag.Title = "Listado de Registros";
}

<div class="content">
    @Html.Partial("_FiltrosRegistro", Model.FiltroRegistro)
    @Html.Partial("_ListaRegistro", Model.ListaRegistro)
</div>